@media only screen and (min-width: 0px) and (max-width: 1049px)
{
	div.images div.image
	{
	    float: none;
    	margin: 10px 0 10px 0;
	}
}

@media only screen and (min-width: 0px) and (max-width: 767px)
{
    ul.images li
    {
		padding: 0 10px 0 10px;
	}


	div.loadimage
	{
		width: 100%;
		padding-bottom: 100px;
	}
}