@media only screen and (min-width: 0px) and (max-width: 767px)
{
	#settings, #cloud
	{
	  	padding: 0 15px 0;
	  	display: table;
	 	width: 100%;

	 	div.description
	    {
	        width: 100%;
	        margin-bottom: 10px;
	    }
	}

	#settings select
	{
		width: 200px;
	}

	.with-tooltip > span
	{
		display: none;
	}

	#cloud input[type=submit], #cloud input[type=text], #cloud select, #settings input[type=submit], #settings input[type=text], #settings select
    {
    	width: 90%;
    }

    #basic
    {
     	div.type
	    {
	        padding: 10px;
	    }
    }
}