<div id="images-wrapper">
    <ul id="images-1" class="images">
        <li>Oeps, no images found..</li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("[rel='light']").fancybox(
        {
            prevEffect: 'none',
            nextEffect: 'none',
        });
    });
</script>