<div id="images-wrapper">
    <div id="images-1" class="images">
        <div class="no-images" style="text-align:center; margin: 40px 0; font-size: 20px;">Oeps, no detections found at {{time}} o'clock</div>
    </div>
</div>