<div class="image">
    <a href="#">
    	<div class="with-tooltip">
    		<span>
	    		<div data-lazy-load="{{image}}" metadata={{metadata}}></div>
	    		<i></i>
    		</span> 	
    	</div> 
    </a>
</div>