<div class="image">
    <a rel="light" href="{{image}}" title="{{time}}">
    	<div class="with-tooltip">
    		<span>
	    		<div data-lazy-load="{{image}}" metadata={{metadata}}></div>
	    		<i></i>
    		</span> 	
    	</div> 
    </a>
    <div class="date-time">{{time}}</div>
</div>