<h4><i class="fa fa-fire"></i> {{translation.heatmap}}</h4>
<div class="slider with-tooltip element">
    <input class="slider-radius" name="radius" data-slider-id='ex1Slider' type="text" data-slider-min="0.1" data-slider-max="2" data-slider-step="0.1" data-slider-value="{{radius}}"/>
    <i class="description slider">radius</i>
</div>
<div class="heatmap" style="width: 100%;"></div>

<div class="submit-form">
    <input type="submit" value="{{translation.update}}"/>
</div>