<div class="with-tooltip element" style="clear: both; margin-bottom: 15px; display: table;">
    <div class="button" style="float: left; margin-right: 20px;">
        <input class="tgl tgl-ios" {{#forcenetwork}}checked{{/forcenetwork}} id="force-network" type="checkbox"/>
        <label class="tgl-btn label-ios" data-tg-off="off" data-tg-on="on" for="force-network"></label>
    </div>
    <div style="float: left; margin-top: 2px;">Force network mode</div>
    <span style="float: left; margin: 0; margin-top: -4px; margin-left: 10px;">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <span>{{translation.privacyInfo}}</span>
    </span>
</div>

<div class="with-tooltip element" style="clear: both; margin-bottom: 15px; display: table;">
    <div class="button" style="float: left; margin-right: 20px;">
        <input class="tgl tgl-ios" {{#autoremoval}}checked{{/autoremoval}} id="auto-removal" type="checkbox"/>
        <label class="tgl-btn label-ios" data-tg-off="off" data-tg-on="on" for="auto-removal"></label>
    </div>
    <div style="float: left; margin-top: 2px;">Auto removal media</div>
    <span style="float: left; margin: 0; margin-top: -4px; margin-left: 10px;">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <span>{{translation.privacyInfo}}</span>
    </span>
</div>
