<div id="general" class="block">
    <h4><i class="fa fa-gears"></i> General settings</h4>
    <div class="name with-tooltip element">
        <input type="text" placeholder="Specify a name for the camera" value="{{name}}"/>
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <span>Give an unique name to your camera. This is needed to split the activity afterwards.</span>
        </span>
    </div>

    <div class="timezone with-tooltip element">
       <select id="timezone-picker-basic"></select>
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            <span>The timezone is used to convert timestamps to your local time. It's used in both the machinery and web interface.</span>
        </span>
    </div>
</div>

<div id="camera" class="block">
    <h4><i class="fa fa-video-camera"></i> Camera</h4>
    <div id="USBCamera" class="type active with-tooltip">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        USB camera
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i> 
            <span>Select this option, if you want to use an USB camera.</span>
        </span>
    </div>
    <div id="RaspiCamera" class="type with-tooltip">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        RPi camera
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i> 
            <span>If you run Kerberos.io on a <b>Raspberry Pi</b>, you can select this option, if you want to use the Raspberry Pi camera module.</span>
        </span>
    </div>
    <div id="IPCamera" class="type with-tooltip">
        <i class="fa fa-video-camera aria-hidden="true"></i>
        IP camera
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i> 
            <span>Select this option, if you want to use an IP camera which supports an RTSP or MJPEG stream.</span>
        </span>
    </div>
</div>


<div id="surveillance" class="block">
    <h4><i class="fa fa-user-secret"></i> Surveillance mode</h4>
    <div id="Motion" class="type active with-tooltip">
        <i class="fa fa-child" aria-hidden="true"></i>
        motion
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i> 
            <span>A smart motion detector, that saves snapshots or video, and/or trigger other devices by using a webhook. Setup conditions to only detect motion at a specific timeinterval or region in the view.</span>
        </span>
    </div>
    <!--<div class="type">
        <i class="fa fa-user-times" aria-hidden="true"></i>
        counting
    </div>
    <div class="type">
        <i class="fa fa-image" aria-hidden="true"></i>
        timelapse
    </div>
    <div class="type">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        video
    </div>-->
</div>

<div id="storage" class="block">
    <h4><i class="fa fa-cloud"></i> Storage</h4>
    <div class="type active with-tooltip">
        <i class="fa fa-cloud" aria-hidden="true"></i>
        Cloud
        <span>
            <i class="fa fa-question-circle" aria-hidden="true"></i> 
            <span>Kerberos.io offers a <b>cloud application service</b>, to centralize and follow up multiple Kerberos.io instances. To sync the events of this instance to our cloud application, you first will need to register an account and subscribe to a plan. When you\'re subscribed succesfully, you will receive some credentials that you will need to fill-in. Once you\'ve entered <b>your credentials</b> your events will be send to the cloud application. More information on <b>https://cloud.kerberos.io</b>.</span>
        </span>
    </div>
    <!--<div class="type">
        <i class="fa fa-user-times" aria-hidden="true"></i>
        OwnCloud
    </div>-->
</div>

<div class="submit-form">
    <p id="confirm-info">don't forget to press the <b>update button</b>, to confirm your configuration.</p>
    <input type="submit" value="update"/>
</div>

<div id="settings-modal" data-remodal-id="settings">
    <div class="modal-body">
        <div class="view"></div>
    </div>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>