<h2><i class="fa fa-linux"></i> KiOS</h2>
<div id="kios-versions">
    <div class="load5 loadimage" style=""><div class="loader"></div></div>
</div>
<div id="upgrade-modal" data-remodal-id="upgrade">
    <div class="modal-body"></div>
</div>