<h2><i class="fa fa-linux"></i> KiOS</h2>
<p class="kios-no-update">
  Updating is no longer possible using the web interface. Please use <a href="https://kerberosio.zendesk.com/hc/en-us/articles/360010681740-Upgrading-KiOS" target="_blank">following documentation</a>, to perform an upgrade.
</p>
