<img src="{{image.src}}" id="lines" class="doSomethingOnChange" width="{{image.width}}" height="{{image.height}}" {{#image.fake}}style="width:{{image.width}}px; height:{{image.height}}px; background-color:#ccc;"{{/image.fake}}/>

<input type="hidden" name="{{name}}" value="{{coordinates}}"/>