<div class="modal-body">

    <div class="view">
        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4><i class="fa fa-fw fa-user"></i> {{translation.updateProfile}}</h4>
                    <div class="name with-tooltip element">
                        <input id="username" type="text" placeholder="Username" value="{{user.username}}"/>
                        <i class="description">{{translation.username}}</i>
                    </div>
                    <div class="with-tooltip element">
                        <select id="language">
                            <option value="bg">България</option>
                            <option value="ca">Catalan</option>
                            <option value="de">Deutsch</option>
                            <option selected value="en">English</option>
                            <option value="fr">Français</option>
                            <option value="it">Italiano</option>
                            <option value="nl">Nederlands</option>
                            <option value="zh">中文</option>
                            <!--<option value="pt">Português</option>-->
                        </select>
                        <i class="description">{{translation.language}}</i>
                        <span>
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <span>{{translation.languageInfo}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4><i class="fa fa-unlock-alt"></i> {{translation.changePassword}}</h4>
                    <div class="name with-tooltip element">
                        <input id="current-password" type="password" placeholder="{{translation.password}}" value=""/>
                        <i class="description">{{translation.currentPassword}}</i>
                    </div>
                    <div class="name with-tooltip element">
                        <input type="password" id="new-password-1" placeholder="{{translation.newPassword}}" value=""/>
                        <i class="description">{{translation.newPassword}}</i>
                    </div>
                    <div class="name with-tooltip element">
                        <input type="password" id="new-password-2" placeholder="{{translation.newPassword}}" value=""/>
                        <i class="description">{{translation.confirmNewPassword}}</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons-wrapper">
        <button data-remodal-action="cancel" class="remodal-cancel">{{translation.cancel}}</button>
        <button id="update" data-remodal-action="confirm" class="remodal-confirm">{{translation.update}}</button>
    </div>
</div>
