<h1>Installation</h1>
<h2 class="step">1. Welcome!</h2>
<div class="owl-carousel owl-theme">
  <div class="part" info="1. Welcome!">
        <div class="step">
            We only start a collaboration, if we really believe we can make the difference for you and your project. We share an uniform vision and work together as a team.Once a collaboration started, we will do whatever it takes to succeed with the highest possible level of quality.
        </div>
        <div class="nextStep">Ok, next please</div>
  </div>
  <div class="part" info="2. Specify your credentials" style="display:none;">
        <div class="step">
            We only start a collaboration, if we really believe we can make the difference for you and your project. We share an uniform vision and work together as a team.Once a collaboration started, we will do whatever it takes to succeed with the highest possible level of quality.
        </div>
        <div class="nextStep">Ok, next please</div>
  </div>
  <div class="part" info="3. Subscribe to our cloud application" style="display:none;">
        <div class="step">
            We only start a collaboration, if we really believe we can make the difference for you and your project. We share an uniform vision and work together as a team.Once a collaboration started, we will do whatever it takes to succeed with the highest possible level of quality.
        </div>
        <a href="{{URL::to('/')}}/login">
            <div id="finish" class="nextStep">I'm ready</div>
        </a>
  </div>
</div>