<div id="cloud-view">
	<h4><i class="fa fa-cloud"></i> Kerberos.cloud</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="bucket" class="with-tooltip element">
                    <input type="text" value="{{}}"/>
                    <span></span>
                    <i class="description">bucket</i>
                </div>
                <div id="directory" class="with-tooltip element">
                    <input type="text" value="{{}}"/>
                    <span></span>
                    <i class="description">directory</i>
                </div>
                <div id="directory" class="with-tooltip element">
                    <input type="text" value="{{}}"/>
                    <span></span>
                    <i class="description">public key</i>
                </div>
                <div id="directory" class="with-tooltip element">
                    <input type="text" value="{{}}"/>
                    <span></span>
                    <i class="description">secret key</i>
                </div>
             </div>
        </div>
    </div>
</div>