<div id="cloud-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="fa fa-cloud"></i> Kerberos.cloud</h4>
                <div id="bucket" class="with-tooltip element">
                    <input type="text" value="{{kerberosCloud.bucket}}"/>
                    <span></span>
                    <i class="description">bucket</i>
                </div>
                <div id="folder" class="with-tooltip element">
                    <input type="text" value="{{kerberosCloud.folder}}"/>
                    <span></span>
                    <i class="description">folder</i>
                </div>
                <div id="public" class="with-tooltip element">
                    <input type="text" value="{{kerberosCloud.public}}"/>
                    <span></span>
                    <i class="description">public key</i>
                </div>
                <div id="secret" class="with-tooltip element">
                    <input type="text" value="{{kerberosCloud.secret}}"/>
                    <span></span>
                    <i class="description">secret key</i>
                </div>
             </div>
             <div class="col-md-6">
                <h4><i class="fa fa-question"></i> What is this</h4>
                <p>Kerberos.io comes with its own cloud application. By subscribing to a plan you can sync all your images and videos, and review it from anywhere in the world.</p>
                <p>Once subscribed, you'll receive some credentials which you can fill in the fields on the left. After confirming and updating the settings, you're activity will be synced automatically. Have fun!</p>
                <a id="subscribe-now" style="text-align: center; text-decoration: none;" target="_blank" href="https://cloud.kerberos.io">Subscribe now for only €1,49</a>
             </div>
        </div>
    </div>
</div>